.model {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgb(127, 255, 212, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 100;
  
}


.container {
  display: flex;box-shadow: 2px 4px 15px 1px ;
  flex-direction: column;
  height: 50vh;
  flex-basis: 500px;
  align-items: center;
  background-color: white;
  margin:10px
}
.close {
  display: flex;

  width: 100%;
  justify-content: flex-end;
}
.closeicon {
  height: 30px;
  width: 30px;
  padding-right: 20px;
  padding-top:20px
}
.containerTitle {
  padding: 20px 10px ;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.parent {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.parent > label {
  margin: 5px;
  font-weight: 700;
  font-size: 1rem;
}
.parent > input {
  width: 220px;
  height: 25px;
  border-radius: 20px;
  padding: 0 10px;
}

.addBtn {
  margin-top: 20px;
  height: 30px;
  border-radius: 5px;
}

.parent > input::placeholder {
  padding-left: 10px;
}
