.app{
    display:flex;
    width:100vw;
    height:100vh;
   
    flex-direction: column;
   
  }
  
  .hero{
    display: flex;
    height:80vh;
    width:100vw;
    background-color: rgb(211, 218, 226);
  
  }