.main {
  display: flex;
 
  flex-basis: 100%;
  height: 80vh;
  /* border: 2px solid rgb(214, 25, 25); */
  justify-content: center;
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
height:80vh;
 
  flex-basis: 700px;
  overflow-y:scroll;
  
 
}
.parent {
  display: flex;

  width: 85%;
 
  box-shadow: 10px black;
  margin-top: 20px;
}
.profileCard {
  display: flex;
  flex-direction: column;

  height: 200px;
  width: 100%;
  border-radius: 10px;
  
}
.profile {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  
  
  margin: 2px 5px;
  height: 60px;
  border-radius: 25px;
  overflow: hidden;
}
.profile > p {
  display: flex;
  justify-content: center;
  margin: 5px;
  /* background-color: antiquewhite; */
  color:aliceblue;
  border-radius: 10px;
  width: fit-content;
  padding: 5px 10px;
  font-weight: 900;
}
.graphTotal {
  display: flex;
  height: 130px;
  width: 100%;
  border-radius: 10px;
 margin-top: 10px;
  justify-content: space-around;
  border: 2px solid black;
  overflow: hidden;
 
}
.totalExpense {
  display: flex;
  flex-direction: column;
  width: 130px;
  padding: 5px;
  align-items: center;
  text-align: center;
}
.totalExpense > p {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: antiquewhite;
  padding: 8px;
  margin: 8px 0px;
  border-radius: 10px;
  font-weight: 600;
  left:20px;
}
.graph {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 30px;
  left: 5px;
}
.singleCard,
.doubleCard {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  height: 70px;
  box-shadow: 4px 6px 10px 2px black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.doubleCard {
  height: 13vh;
  margin: 5px;
  font-weight: 900;
  font-size: large;
}
.Addexpensebtn {
  text-align: center;
  padding: 10px;
  font-weight: 900;
  font-size: large;
}


.normaluser{
  background-color: goldenrod;
}

.prouser{
  background-color: deeppink;
  text-align: center;
}
.profileName{
  background-color: dodgerblue;
  text-align: center;
}
.container::-webkit-scrollbar{
  display:none;
}

@media (max-width:310px) {
  
.graphTotal{
  font-size: .8rem;
}
.singleCard,
.doubleCard {
  font-size: .9rem;
}
}