
.sideContainer {
  display: flex;
  flex-direction: column;
  background-color:  rgb(50, 166, 187);
  padding-top: 5px;
  width: 60px;
  transition: width 0.3s;
  
  /* height:100vh; */
}
.sideColumn {
  display: flex;
/* justify-content: center; */
align-items: center;
  background-color: chocolate;

  width: 40px;
  margin: 10px;

  transition: width 0.3s; /* Add a smooth transition effect */
  white-space: nowrap;
  overflow: hidden;
  height: 40px;

}
.title{
  display: none;
}
.icon{
  width:40px;
  height: 40px;
  
}
.sideContainer:hover .sideColumn {
  width: 130px;
}
.sideContainer:hover {
  width: 150px;
}
.sideContainer:hover .title{
display:flex;
margin-left:10px;
color:white;
font-weight: 900;
font-size: large;

}
